#inicio {
    background: linear-gradient(135deg, royalblue, cornflowerblue);
}

/*Hace que la imagen  rellene el circulo*/
.rounded-circle {
    object-fit: cover;
}

#contacto {
    background-color: lightblue;
}